.pages-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #333333;
}

.pages-nav li {
    float: left;
}

.pages-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

body {
    background-color: white;
    background: url("images/java-background.png") no-repeat fixed;
    background-size: 10%;
    background-position: 50%;
    height: 100%;
}

p {
    color: black;
}

.body-div {
    display: inline-block;
    width: 100%;
    max-height: 100%;
}

.myself {
    position: relative;
    max-width: 800px;
}

.myself h1 {
    display: block;
    padding-top: 100px;
    padding-left: 350px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    position: relative;
    max-width: 300px;
}

.myself img {
    position: absolute;
    left: 15px;
    top: 35px;
    width: 400px;
}

.mini-gallery {
    float: right;
    right: 5px;
    display: block;
}

.mini-gallery #img1 {
    right: 80px;
    width: 150px;
    height: 300px;
}

.mini-gallery #img2 {
    right: 0px;
    width: 150px;
    height: 300px;
}

#back-end {
    color: rgb(233, 85, 16);
}

#back-end:hover {
    color: rgb(209, 63, 27);
    text-decoration: underline wavy ;
}

.about-me-card {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.30), 0 11px 8px rgba(0, 0, 0, 0.22);
    width: 250px;
    box-sizing: border-box;
    transition-duration: 1s;
}
.about-me-card > img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0px;
}
.about-me-card > p {
    font-family: sans-serif;
    padding: 0px 10px 10px 10px;
    text-align: center;
}
.about-me-card:hover {
    box-shadow: 0 18px 36px rgba(0, 0, 0, 0.30), 0 14px 11px rgba(0, 0, 0, 0.22);
    width: 270px;
    cursor: pointer;
}

.bottom {
    position: absolute;
    margin: 10px auto;
    bottom: 0;
   /* right: 0;
    left: 0;*/
    width: 99%;
    background-color: #333333;
}

.bottom .fa {
    
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    float: right;
}

.fa:hover {
    opacity: 0.7;
}

.clear {
    clear: both;
}
