.myself {
    position: relative;
    max-width: 800px;
}

.myself h1 {
    display: block;
    padding-top: 100px;
    padding-left: 350px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    position: relative;
    max-width: 300px;
}

.myself img {
    position: absolute;
    left: 20px;
    top: 35px;
    width: 280px;
    border-style: groove;
}