.head {
    font: tahoma;
    font-family: sans-serif;
}
.body {
    font: tahoma;
    font-family: sans-serif;
}
.pages-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #333333;
}
.pages-nav li {
    float: left;
}
.pages-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111111;
}
body {
    background-color: white;
    background: url("images/java-background.png") no-repeat fixed;
    background-size: 10%;
    background-position: 50%;
    height: 100%;
}
p {
    color: black;
}
.body-div {
    display: inline-block;
    width: 100%;
    max-height: 100%;
}
.bottom {
    position: fixed;
    margin: 10px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 99%;
    display: inline;
    clear: none;
    background-color: #333333;
}
.bottom .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    float: right;
}
.fa:hover {
    opacity: 0.7;
}
.clear {
    clear: both;
}
#back-end {
    color: rgb(207, 17, 55);
}
#back-end:hover {
    color: rgb(231, 37, 76);
    text-decoration: underline wavy ;
}